* {
    margin: 0;
    padding: 0;
    border-left: none;
    border-right: none;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #2F86A6;
    width: auto;
    height: 100px;
    border: solid black 3px;    
}

.contact {
    background: none;
    border: none;
    color: white;
    font-size: 21.5px;
    text-shadow: 1.15px 1.15px black;
    display: block;
    margin: 35px 2.5% auto auto;
    transition: transform .25s;
}

.contact:hover {
    transform: scale(1.15);
}

.tooltip {
    outline: solid black 2px;
    background-color: rgba(255, 255, 255, .8);
    width: 40%;
    height: 350px;
    display: none;
    font-size: 21px;
    margin-top: 1%;
    margin-left: 59%;
    font-weight: 600;
    position: fixed;
}

.contactIcons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.close {
    width: 30px;
    height: auto;
    margin-left: 90%;
    margin-top: 20px;
    display: block;
}

.contactText {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

.linkedin {
    height: 170px;
    width: auto;
}

.gmail {
    height: 140px;
    width: auto;
}

.avatar {
    display: block;
    height: 240px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    border: solid black 3px;
    border-radius: 50%;
}
.head {
    font-size: 21px;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

.head_bold {
    font-size: 28px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.info {
    width: auto;
    height: auto;
    line-height: 1.6;
    text-shadow: 1.15px 1.15px black;
    text-align: center;
    color: white;
    background-color: #2F86A6;
    border: solid black 3px;
}

.cv {
    margin-top: 2.5%;
    font-size: 29px;
}

.edu, .work {
    margin-top: 2.5%;
    font-size: 21.5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
    "a b"
    "c b"
    "x x";
    align-items: start;
}

.item1 {
    grid-area: a;
    margin-top: 5%;
    font-size: 17.5px;
}

.item2 {
    grid-area: c;
    font-size: 17.5px;
}

.item3 {
    margin-top: 5%;
    grid-area: b;
    font-size: 17.5px;
}

.item4 {
    grid-area: x;
    height: 50px;
}

.icon1, .icon2 {
    height: 140px;
    width: 140px;
    margin: 35px auto 30px auto;
}

.icon3 {
    height: auto;
    width: 300px;
    margin: 35px auto 30px auto;
}

.pjs {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
    "a b";
    align-items: center;
}

.pjs_title {
    margin-top: 2.5%;
    font-size: 29px;
}

.pj_title1, .pj_title2 {
    margin-top: 2.5%;
    font-size: 21.5px;
}

.pj1 {
    height: 450px;
    width: auto;
    grid-area: a;
    margin-top: 3.5%;
    transition: transform .25s;
}

.pj1:hover {
    transform: scale(1.025);
}

.pj2 {
    height: 450px;
    width: auto;
    grid-area: b;
    margin-top: 3.5%;
    transition: transform .25s;
}

.pj2:hover {
    transform: scale(1.025);
}

.ft_txt {
    color: black;
    text-align: right;
    margin: 1.5% 1.5% 1.5% auto;
}

#svg2 {
    display: block;
    outline: solid black 3.5px;
}

#rect4142 {
    fill-opacity: 0;
    stroke: black;
    stroke-width: 3.5px;
    stroke-dashoffset: 0;
    stroke-dasharray: 1300;
    animation: splitter 4s ease-in-out;
}

@keyframes splitter
{
    0%
    {
        stroke-dashoffset: 1300;
    }
    100%
    {
        stroke-dashoffset: 0;
    }
}

@media screen and (max-width: 768px) {
    .avatar {
        height: 180px;
        width: auto;
    }

    .contact {
        font-size: 18px;
        margin: 27.5px 20px auto auto;
    }

    .tooltip {
        width: 75%;
        height: auto;
        margin: 5% auto auto 12.5%;
    }

    .contactText {
        font-size: 16px;
        width: 80%;
        margin: 7.5% auto auto auto;
    }

    .close {
        height: 21.5px;
        width: auto;
        margin: 5% 5% auto auto;
    }

    .linkedin {
        height: 100px;
        margin-left: -15px;
    }
    
    .gmail {
        height: 75px;
        margin-left: -15px;
    }

    .header {
        height: 75px;
    }

    .head {
        font-size: 18px;
        width: 75%;
        margin: 10% auto 10% auto;
    }

    .head_bold {
        font-size: 21px;
    }

    .cv {
        font-size: 21px;
    }

    .edu, .work {
        font-size: 18px;
    }

    .item1, .item2 {
        font-size: 15px;
        margin-bottom: auto;
        margin-left: 5%;
    }

    .item3 {
        font-size: 15px;
        margin-bottom: auto;
        margin-right: 5%;
    }

    .icon1, .icon2{
        height: 100px;
        width: auto;
    }

    .icon3 {
        height: auto;
        width: 170px;
    }

    .pjs_title {
        font-size: 21px;
    }

    .pj_title1 {
        font-size: 16px;
        margin: 10% auto 10% auto;
    }

    .pj_title2 {
        font-size: 16px;
        margin: 23% auto 10% auto;
    }

    .pj1, .pj2 {
        width: 150px;
        height: 150px;
    }

    .warning {
        font-size: 14px;
        width: 75%;
        margin: auto;
    }

    .ft_txt {
        font-size: 12px;
    }
}
